<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="NBTExplorer" Language="1033" Version="2.8.0.0" Manufacturer="Justin Aquadro" UpgradeCode="0bfb1026-21f2-4552-ad71-ca90aae10a25" InstallerVersion="200">
		

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UI>
      <ui:WixUI Id="WixUI_InstallDir" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="CA.LaunchApplication" Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed" />
    </UI>

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps/Banner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps/Dialog.png" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch NBTExplorer" />
    <Property Id="WixShellExecTarget" Value="[#NBTExplorer.exe]" />
    <CustomAction Id="CA.LaunchApplication" DllEntry="WixShellExec" Impersonate="yes" BinaryRef="Wix4UtilCA_X86" />

    

    <Icon Id="I.MainIcon" SourceFile="Icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="I.MainIcon" />

		<Feature Id="F.MainApplication" Title="NBTExplorer" Level="1">
      <ComponentGroupRef Id="CG.StartMenu" />
			<ComponentGroupRef Id="CG.ProductComponents" />
		</Feature>
	</Package>

	<Fragment><ComponentGroup Id="CG.StartMenu" Directory="D.StartFolder">
      <Component Id="C.NBTEShortcut">
        <Shortcut Id="S.NBTEShortcut" Name="NBTExplorer" Target="[INSTALLDIR]NBTExplorer.exe" WorkingDirectory="INSTALLDIR" />
        <RemoveFolder Id="RF.StartFolder" On="uninstall" />
        <RegistryValue Id="RV.NBTEShortcut" Root="HKCU" Key="Software\NBTExplorer" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Component Id="C.Uninstall">
        <Shortcut Id="S.Uninstall" Name="Uninstall NBTExplorer" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Description="Uninstalls the NBTExplorer Application" />
        <RemoveFolder Id="RF.Uninstall" On="uninstall" />
        <RegistryValue Id="RV.Uninstall" Root="HKCU" Key="Software\NBTExplorer" Name="uninstall" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CG.ProductComponents" Directory="INSTALLDIR">
      <Component Id="C.NBTExplorer.exe">
        <File Id="NBTExplorer.exe" Source="../Staging/NBTExplorer.exe" KeyPath="yes" />
      </Component>
      <Component Id="C.NBTExplorer.exe.config">
        <File Id="NBTExplorer.exe.config" Source="../Staging/NBTExplorer.exe.config" KeyPath="yes" />
      </Component>
      <Component Id="C.NBTExplorer.visualelementsmanifest.xml">
        <File Id="NBTExplorer.visualelementsmanifest.xml" Source="../Staging/Windows/NBTExplorer.visualelementsmanifest.xml" KeyPath="yes" />
      </Component>
      <Component Id="C.NBTUtil.exe">
        <File Id="NBTUtil.exe" Source="../Staging/NBTUtil.exe" KeyPath="yes" />
      </Component>
      <Component Id="C.NBTUtil.exe.config">
        <File Id="NBTUtil.exe.config" Source="../Staging/NBTUtil.exe.config" KeyPath="yes" />
      </Component>
      <Component Id="C.NBTModel.dll">
        <File Id="NBTModel.dll" Source="../Staging/NBTModel.dll" KeyPath="yes" />
      </Component>
      <Component Id="C.Substrate.dll">
        <File Id="Substrate.dll" Source="../Staging/Substrate.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
	
      <StandardDirectory Id="ProgramMenuFolder">
        <Directory Id="D.StartFolder" Name="NBTExplorer" />
      </StandardDirectory>
			<StandardDirectory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="NBTExplorer" />
			</StandardDirectory>
		</Fragment>
</Wix>